html{
    font-size: 22px;
    background-image: url(orderonline.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.navbar{
    border: 2px solid #c9a90b;
    border-radius: 20px 20px 0 0 ;
    margin-top: 0;
    padding: 0;
    min-height: 50px;
    display: flex;
    justify-content: space-around;
    border: 2px solid #c9a90b;
    background: #c9a90b;
}
.navbar .box{
    font-size: 2.3vw;

    padding-top: 8px;
}
.navbar .box a{
    border-left: #000;
    display: inline-block;
    text-decoration: none;
    border: 2px solid #c9a90b;
    color: rgb(253, 254, 255);
}
.navbar .box a:hover,.navbar .box a:focus{
    color: black;
    text-shadow: 2px 2px white;
}
body{
    background-color: rgb(255, 230, 197);
    font-size: 22px;
    font-style: italic;
    border: 2px solid white;
    border-radius: 20px;
    color: black;
    margin: 5vw;
    opacity: 80%;
}
a{
    text-decoration: none;
}
.body2{
    font-size: 2vw;
    align-content: center;
    margin: auto;
    padding: 0 3vw 0 3vw;
}
h1{
    font-size: 5vw;
    text-align: center;
    color: #332b02;
    text-shadow: #000;
    text-decoration: underline;
}
.for{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
fieldset legend{
   
        /* text-align: centre; */
        font-size: 4vw;
}
fieldset{
        text-align: left;
        font-size: 2vw;
        width: 45vw;
        height: 30vw;
        border-radius: 20px;
        /* align-self: center; */
        margin: auto;
        margin-bottom: 10vw;
        /* margin-right: 15rem; */
        border: 5px double black;
        /* width: fit-content; */
}
fieldset input,fieldset select{
    font-size: 1vw;
}